@font-face {
    font-family: Sora;
    src: url(../media/fonts/Sora-Medium.ttf);
}
@font-face {
    font-family: Junicode;
    src: url(../media/fonts/Junicode-Bold.ttf);
}
@font-face {
    font-family: JunicodeItalic;
    src: url(../media/fonts/Junicode-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --Color-bg: #FDF2EA;
    --Color-title: #542E38;
    --Color-text: #2b151b;
    --Color-desc: #41252d;
    --Color-container: #ebdcd1;
    --Color-stroke: #b4a599;

    --Number-stroke: 0.2px;
    --Number-header-h: 100px;
    --Number-nav-h: 54px;

    --Color-main-50:  #FFEAEA;
    --Color-main-100: #FFD5D5;
    --Color-main-150: #FFBFBF;
    --Color-main-200: #FFA9A9;
    --Color-main-250: #FF9494;
    --Color-main-300: #FF7E7E;
    --Color-main-350: #FF6868;
    --Color-main-400: #FF5252;
    --Color-main-450: #FF3C3C;
    --Color-main-500: #F74842;
    --Color-main-550: #E03F3A;
    --Color-main-600: #C73632;
    --Color-main-650: #AD2E2B;
    --Color-main-700: #972528;
    --Color-main-750: #801D23;
    --Color-main-800: #6A161F;
    --Color-main-850: #540F1B;
    --Color-main-900: #3F0A17;
    --Color-main-950: #2B050F;






}
@media (prefers-color-scheme: dark) {
    :root {
    --Color-bg: #1f1f1d;
    --Color-title: #FDF2EA;
    --Color-text: #f7f2ee;
    --Color-desc: #aaa29b;
    --Color-container: #2b2b27;
    --Color-stroke: #524f4c;
    }
}
*::selection {
    background-color: var(--Color-main-250);
    color: var(--Color-main-650);
}

body {
    background: var(--Color-bg);
    color: var(--Color-text);
    font-family: Sora;
}


nav {
    position: absolute;
    display: flex;
    width: calc(100% - 25px * 2);
    height: auto;
    padding: 25px;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    gap: 25px;
    z-index: 2;
    overflow: hidden;
    overflow-x: auto;
}
nav a {
    color: var(--Color-main);
    padding: calc(25px / 2);
    flex-shrink: 1;
    text-align: center;
}
nav a:hover {
    text-decoration: underline;
    opacity: .8;
}

section {
    margin-top: 96px;
    margin: 96px 0px;
}
.footer {
  background: var(--Color-container);
  color: var(--Color-text);
  padding: 20px 25svw;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left p {
  margin: 5px 0;
  color: var(--Color-desc);
}
.footer-left p span.span-default-zelflor-quote {
    font-family: JunicodeItalic;
}
.footer-right p {
    margin: 5px 0;
  color: var(--Color-desc);
}
.footer-right a p{

    color: var(--Color-desc);
    text-decoration: underline;
}
.footer-right a:hover p{
    color: var(--Color-text);
    text-decoration: none;
}
.footer-right .footer-logo {
  width: 100%;
  max-width: 200px;
  display: block;
}
.footer-right p.p-limit {
    max-width: 200px;
    opacity: .8;
    font-size: 11px;
}
.footer-logo-link {
  display: inline-block;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-right {
    margin-top: 10px;
  }
}



.div-input-search {
    display: flex;
    flex-direction: row;
    gap: 0;
    border-radius: 25px;
    border: 1px solid var(--Color-stroke);
    margin-bottom: 25px;
    overflow: hidden;
    
}
.div-input-search input {
    padding: 10px;
    border: none;
    background: transparent;
    outline: none;
    flex: 1 0 0;
    border-radius: 0px;
    border-top-right-radius: 0px;
    color: var(--Color-text);
    border-bottom-right-radius: 0px;
}
.div-input-search button {
    border: none;
    background: transparent;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.div-input-search button:hover {
    background: var(--Color-container);
}
.div-input-search button svg path {
    stroke-width: 2px;
    stroke: var(--Color-text);
}