
.div-race-flex-container {
    position: relative;
    top: 0;
    width: calc(100% - 150px * 2);
    min-height: 100svh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0px 150px;
    justify-content: center;
}

.div-race-flex-container .div-races-list {
    width: auto;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.div-race-flex-container .div-races-list .div-event-race {
    position: relative;
    width: 600px;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    background: var(--Color-container);
}
.div-race-flex-container .div-races-list .div-event-race:hover {
    background: var(--Color-stroke);
}
.div-race-flex-container .div-races-list .div-event-race img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.div-race-flex-container .div-races-list .div-event-race .div-race-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 5% * 2);
    padding: 5%;
    height: calc(50% - 5% * 5);
    color: var(--Color-desc);
}
.div-race-flex-container .div-races-list .div-event-race:hover .div-race-info {
    color: var(--Color-text);
}
.div-race-flex-container .div-races-list .div-event-race .div-race-info h3{
    font-family: Junicode;
    color: var(--Color-main-500);
}
.div-race-flex-container .div-filter-list {
    flex: 1 0 0;
    position: relative;
    gap: 10px;
}

.div-race-flex-container .div-filter-list input {
    color: var(--Color-text);
}
.div-race-flex-container .div-filter-list button.button-add-race {
    padding: 8px;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    background: var(--Color-container);
    color: var(--Color-desc);
    width: calc(100% - 8px * 0);
}
.div-race-flex-container .div-filter-list button.button-add-race:hover {
    cursor: pointer;
  background: var(--Color-main-800);
  color: var(--Color-main-100);
}